@use "sass:color";

$accent-main-primary: #1a7df0;
$accent-main-secondary: #ffffff;

$accent-aux-primary: #ffe711;
$accent-aux-secondary: #005bc5;
$accent-aux-tertiary: #333333;

$container-padding: 12px 80px;
$max-width: 1920px;

// Breakpoints

$breakpoint-tablet: 1280px;
$breakpoint-mobile: 768px;

// Colors

// White theme

:root {
  --padding-container: 12px 80px;

  --color-text-bw: #333333;
  --color-text-bb: #333333;
  --color-text-wb: #ffffff;
  --color-text-ww: #ffffff;

  --color-accent-hover: #1a7df0;
  --color-accent-span: #1a7df0;

  --color-accent-logo: #3a59a1;

  --color-border: #333333;

  --color-svg-basic: #333333;

  --color-bg: #ffffff;

  --color-breadcrumbs: #33333380;

  --color-primary: #1a7df0;

  --color-button-main: #ffe711;
  --color-button-main-hover: #f9d100;

  --color-button-secondary: #1a7df0;
  --color-button-secondary-hover: #005bc5;

  --color-button-transparent-hover: #1a7df0;

  --color-button-transparent-by: #333333;
  --color-button-transparent-by-hover: #1a7df0;

  --color-outline-tb: transparent;

  --color-accent-hover: #f9d100;
}

// Dark theme

body.dark-theme {
  --color-text-bw: #ffffff;
  --color-text-bb: #333333;
  --color-text-wb: #333333;
  --color-text-ww: #ffffff;

  --color-accent-hover: #f9d100;
  --color-accent-span: #ffe711;

  --color-accent-logo: #ffffff;

  --color-border: #ffffff;

  --color-svg-basic: #ffffff;

  --color-bg: #333333;

  --color-breadcrumbs: #ffffffb0;

  --color-button-main: #ffe91f;
  --color-button-main-hover: #1a7df0;

  --color-button-secondary: #ffffff;
  --color-button-secondary-hover: #ffffff;

  --color-button-transparent-hover: #ffe711;

  --color-button-transparent-by: #ffe711;
  --color-button-transparent-by-hover: #ffffff;

  --color-outline-tb: #000000;
}

html,
body {
  margin: 0;
  font-family: "Raleway";
}

h1,
h2,
h3,
h4,
h5 {
  color: $accent-aux-tertiary;
}

h1 {
  font-weight: 500;
  font-size: 65px;
}

h2 {
  font-weight: 400;
  font-size: 42px;
}

h3,
h4,
h5 {
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
}

p,
button {
  color: $accent-aux-tertiary;
}

.text-xl {
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
}

.text-lg {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
}

.text-s {
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
}

.button {
  min-width: 350px;
  font-weight: 400;
  font-size: 24px;
  padding: 15px 68px;
  border-radius: 100px;
  cursor: pointer;

  &--primary {
    background-color: $accent-aux-primary;

    &:hover {
      background-color: #f9d100;
    }
  }

  &--secondary {
    color: $accent-main-secondary;
    background-color: $accent-main-primary;

    &:hover {
      background-color: #005bc5;
    }
  }

  &--transparent {
    background-color: transparent;

    outline: 1px solid #333333;
    outline-offset: -1px;

    &:hover {
      outline-color: $accent-main-primary;
      color: $accent-main-primary;
    }
  }

  &--transparent-bg {
    min-width: 275px;
    color: $accent-main-secondary;
    background-color: transparent;
    outline: 1px solid $accent-main-secondary;
    outline-offset: -1px;

    &:hover {
      outline-color: $accent-aux-primary;
      color: $accent-aux-primary;
    }
  }

  &--transparent-xs {
    padding: 10px 31px;
    font-size: 18px;
    background-color: transparent;
    outline: 1px solid #333333;
    outline-offset: -1px;

    &:hover {
      outline-color: $accent-main-primary;
      color: $accent-main-primary;
    }
  }
}

.menu {
  font-weight: 500;
  font-size: 20px;
}

a {
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #333333;
  text-decoration: underline;
  text-underline-offset: 4px;
  transition: 0.3s;

  &:hover {
    color: $accent-main-primary;
    border-color: $accent-main-primary;
  }
}
